.hero-link {
  display: block;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

// .hero-link:hover,
// .hero-link:focus {
//   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
//     1px 4px 6px rgba(0, 0, 0, 0.16);
// }

.filter-banner {
  padding: 20px 24px;
  width: 370px;
  border: 1px solid #eeeeee;
}

.filter-list {
  list-style: none;
  & .title {
    color: var(--title-text-color);
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    width: 322px;
    margin-bottom: 4px;
  }
  & .text {
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
    font-size: 16px;
    line-height: 1.87;
    width: 322px;
  }
  &.option {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
}
// .filter-list {
//   list-style: none;
// }

.filter-button.list {
  align-items: center;
  margin-bottom: 50px;
  justify-content: center;
}

.filter-button {
  display: flex;
}

.filter-list.option {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.filter-selection {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  &:hover .filter-pictures-text {
    transform: translateY(0);
  }
}

.filter-item-wrap {
  position: relative;
  overflow: hidden;
}

.filter-pictures-text {
  position: absolute;
  top: 0;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  background-color: var(--accent-color);
  transform: translateY(100%);
  transition: transform 250ms;
}

// .filter-selection:hover .filter-pictures-text {
//   transform: translateY(0);
// }
.filter {
  padding-top: 94px;
  padding-bottom: 114px;
  &-item:not(:last-child) {
    margin-right: 8px;
  }
}

// .filter-list .title {
//   color: var(--title-text-color);
//   letter-spacing: 0.06em;
//   font-weight: 700;
//   font-size: 18px;
//   line-height: 2;
//   width: 322px;
//   margin-bottom: 4px;
// }

// .filter-list .text {
//   color: var(--primary-text-color);
//   letter-spacing: 0.03em;
//   font-size: 16px;
//   line-height: 1.87;
//   width: 322px;
// }
