.header {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: flex;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.icon-mail,
.icon-tel {
  margin-right: 10px;
  fill: currentColor;
}

.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current:after {
  content: '';
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  display: block;
  margin-top: 28px;
}

.accent {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-href {
  text-decoration: none;
  width: 145px;
  height: 31px;
  margin-right: 93px;
}

/* site nav */
// .site-nav .link {
//   color: var(--title-text-color);
//   letter-spacing: 0.02em;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   text-decoration: none;
// }

// .auth-nav .link {
//   color: var(--primary-text-color);
//   letter-spacing: 0.02em;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   text-decoration: none;
// }

.telephone {
  margin-left: 50px;
}



.auth-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
  & .link:hover,
  & .link:focus {
  color: var(--accent-color);
}
&-item:not(:last-child) {
  margin-right: 30px;
}
& .link {
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
}



// .auth-nav-item:not(:last-child) {
//   margin-right: 30px;
// }


.site-nav {
  display: flex;
  align-items: center;
& .link:hover,
& .link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
& .link.current {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
& .link {
  color: var(--title-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
& .current {
  position: relative;
}
}


// .site-nav .current {
//   position: relative;
// }


// .site-nav .link.current {
//   color: var(--accent-color);
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }


// .auth-nav .link:hover,
// .auth-nav .link:focus {
//   color: var(--accent-color);
// }
