.leaders-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
&:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
}

.leaders-social-ikon {
  fill: currentColor;
}

.leaders-social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.leaders-social-item {
  & + & {
  margin-left: 10px;
}
}

.leaders-list__people {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.leaders-list__text {
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.section-leaders {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
  // .text {
  //   letter-spacing: 0.03em;
  //   font-size: 16px;
  //   line-height: 1.18;
  //   text-align: center;
  // }


.leaders-list {
  display: flex;
}

.leaders-list__item:not(:last-child) {
  margin-right: var(--base-margin);
}

// .section-title .leaders {
//   width: 264px;
//   margin: 0 auto;
//   margin-bottom: 50px;
// }

.leaders-list__section-partition {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
  text-align: center;
  margin-bottom: 16px;
}

