
.button__primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.button-secondary {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
  color: var(--primary-white-color);
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
&.oll {
  width: 73px;
  height: 38px;
}
&.web {
  width: 128px;
  height: 38px;
}
&.app {
  width: 145px;
  height: 38px;
}
&.des {
  width: 103px;
  height: 38px;
}
&.mark {
  width: 130px;
  height: 38px;
}
}












