.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  transition: opacity 250ms, visibility 250ms;
  &.is-hidden {
    .modal {
      transform: scale(2) rotate(180deg);
    }
  }
}

.modal {
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  &-close {
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover .modal-close-icon,
    &:focus .modal-close-icon {
      fill: var(--accent-color);
    }
  }
}

// .backdrop.is-hidden .modal {
//   transform: scale(2) rotate(180deg);
// }

// .modal-close {
//   top: 8px;
//   right: 8px;
//   width: 30px;
//   height: 30px;
//   background: #ffffff;
//   border: 1px solid rgba(0, 0, 0, 0.1);
//   border-radius: 50%;
//   position: absolute;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .modal-close:hover .modal-close-icon,
// .modal-close:focus .modal-close-icon {
//   fill: var(--accent-color);
// }

.modal-close-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23px / 20px);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.form-field {
  margin-bottom: 10px;
}

.input-ikon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
    & + .input-ikon {
      fill: var(--accent-color);
    }
  }
}

// .modal-input:focus {
//   border-color: var(--accent-color);
// }

// .modal-input:focus + .input-ikon {
//   fill: var(--accent-color);
// }

.contract {
  color: var(--accent-color);
}

.policy-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  &::before {
    content: '';
    width: 16px;
    height: 15px;
    border: 2px solid #000000;
    border-radius: 2px;
    margin-right: 8px;
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    .policy-check:checked + & {
      background-image: url(../images/iconcheck.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: none;
    }
  }
}

// .policy-text::before {
//   content: '';
//   width: 16px;
//   height: 15px;
//   border: 2px solid #000000;
//   border-radius: 2px;
//   margin-right: 8px;
//   margin-left: 12px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.form-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
  .policy-check:checked + & {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
    display: block;
    margin-bottom: 4px;
  }
}

// .policy-check:checked + .form-label {
//   font-size: 12px;
//   line-height: 1.16;
//   letter-spacing: 0.01em;
//   color: #757575;
//   display: block;
//   margin-bottom: 4px;
// }

// .policy-check:checked + .policy-text::before {
//   background-image: url(../images/iconcheck.svg);
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   border: none;
// }

.input-wrap {
  position: relative;
}

.modal-textarea {
  width: 448px;
  height: 120px;
  left: 576px;
  top: 518px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px 12px;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
  }
}

// .modal-textarea:focus {
//   border-color: var(--accent-color);
// }

.is-hidden {
  opacity: 0;
  visibility: none;
  pointer-events: none;
}
