:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --footer-adress-color: rgba(255, 255, 255, 0.6);
  --base-margin: 30px;
}
